:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black              ;
  background-image: url(Pics/17973908.jpg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#todotable{
  display: flex;
  flex-direction: row;
}
H1{
  font-family: 'Island Moments', cursive;
  font-size: 60px ;
  line-height: 62px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: rgb(159,206,216);
}
aside{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 100px;
  width: 350px;
  background-color:rgb(222,238,251) ;
  height: 1000px;
  border: black solid 3px;
}
label{
  color: black;
  margin-top: 50px;
  margin-left: 40px;
  font-size: x-large;
}
input{
  width: 260px;
  margin-left: 40px;
  height: 40px;
  border-radius: 8px ;
  border-style: black solid 3px;
}
#description-input{
  height: 75px;
}
#create-todo{
  margin-top: 50px;
  width: 90px;
  margin-left: 100px;
  height: 30px;
  border-radius: 8px;
}
#mainContainer{
  display: grid;
  grid-template-columns: 450px 450px 450px;
  margin-right: 75;
}
.todo-wrapper{
  display: grid;
  grid-template-columns: 320px 80px;
  margin-right: 50px;
  margin-top: 20px;
  height: 300px;
  background-color: rgb(159,206,216);
  border: solid white 3px;
}
.done{
  background-color:rgb(222,238,251) ;
  border: solid black 3px;
}
.todo-title{
  background-color: rgb(54,54,54);
  width: 394px;
  color: white;
  height: 50px;
}
.todo-icon{
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  color: #FFFFFF;
  grid-row-start: 1;
  grid-column: 2;
  height: 50px;
}
.todo-date{
   grid-row: 5;
}
h3{
padding: 10px;
}
p{
padding:10px;
}
.todo-date{
grid-column: 1;
}
.todo-description{
grid-column: 1;
grid-row-start: 2;
grid-row-end: 4;
}
.confirm-btn{
  grid-column: 2;
  grid-row: 5;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  background-color: rgb(54,54,54);
  border:solid white 3px
}
.edit-date{
  grid-column: 1;
  grid-row: 6;
  background-color: rgb(54,54,54);
  color: white;
}